<div id="home" ng-controller="homeController">

	<!--<div class="counter" parallax-background parallax-ratio="0.2">-->
	<div class="counter">
		<div class="wrapper-timer">
			<div class="wrapper-timer-opaque">
				<timer end-time="1462442400000">
					<span class="color-accent-color font-size-x4 text-bold">{{days}}</span> {{'TIMING.DAY' | translate}}{{days > 1 ? 's' : ''}}, 
					<span class="color-accent-color font-size-x4 text-bold">{{hours}}</span> {{'TIMING.HOUR' | translate}}{{hours > 1 ? 's' : ''}}, 
					<span class="color-accent-color font-size-x4 text-bold">{{minutes}}</span> {{'TIMING.MINUTE' | translate}}{{minutes > 1 ? 's' : ''}}, 
					<span class="color-accent-color font-size-x4 text-bold">{{seconds}}</span> {{'TIMING.SECOND' | translate}}{{seconds > 1 ? 's' : ''}}
				</timer>
			</div>
		</div>
	</div>

	<div class="container content-margin-top">
		<div class="row">
			<div class="col-xs-12">
				<!-- content -->
				<a class="twitter-timeline" href="https://twitter.com/hashtag/AlbiEcoRace" data-widget-id="688419033352392704"></a>
			</div>
		</div>
	</div>

</div>