<div id="home">

	<div class="row">
		<div class="col-xs-12">
			<!-- content -->
			
			<div class="text-center">
				<timer end-time="1462442400000">
					<span class="">{{days}}</span> {{'TIMING.DAY' | translate}}{{days > 1 ? 's' : ''}}, 
					{{hours}} {{'TIMING.HOUR' | translate}}{{hours > 1 ? 's' : ''}}, 
					{{minutes}} {{'TIMING.MINUTE' | translate}}{{minutes > 1 ? 's' : ''}}, 
					{{seconds}} {{'TIMING.SECOND' | translate}}{{seconds > 1 ? 's' : ''}}
				</timer>
			</div>

		</div>
	</div>

</div>