@import (reference) "./variables.less";

header {

	.navbar, .navbar-default.navbar {
		border-radius: 0;
		background-color: @color_dark_primary;
		margin-bottom: 0;

		.collapse.navbar-collapse {
			.nav.navbar-nav {
				li.active,
				li:hover {
					background-color: @color_primary_color;
				}
			}
		}

		.navbar-header .navbar-brand img {
			height: 48px;
			line-height: 48px;
			margin-top: -8px;
		}
	}
	
}

@media (min-width : 768px) {
	header {
		.navbar, .navbar-default.navbar {
			.collapse.navbar-collapse {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}