// BASIC COLORS
$color_white:               #FFFFFF;
$color_black:               #000000;
$body_background_color:     #EBEBEB;

// COLOR PALETTE
// shade 1
$color_dark_primary:        #1976D2;
$color_primary_color:       #2196F3;
$color_light_primary_color: #C5CAE9;
$color_text_icons:          #FFFFFF;
$color_accent_color:        #FF9800;
$color_primary_text:        #212121;
$color_secondary_text:      #727272;
$color_divider_color:       #B6B6B6;

$color_palette: (
	'white': $color_white,
	'black': $color_black,

	'dark-primary': $color_dark_primary,
	'primary-color': $color_primary_color,
	'light-primary-color': $color_light_primary_color,
	'text-icons': $color_text_icons,
	'accent-color': $color_accent_color,
	'primary-text': $color_primary_text,
	'secondary-text': $color_secondary_text,
	'divider-color': $color_divider_color
);

// SIZES
$margin_xs: 10px;
$margin_sm: 15px;
$margin_md: 20px;
$margin_lg: 25px;

$padding_xs: 10px;
$padding_sm: 15px;
$padding_md: 20px;
$padding_lg: 25px;
