<div id="informations" class="content-margin-top">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 page-content">
				<!-- content -->
				<h1 class="text-center no-margin-top margin-bottom-md" ng-bind-html="'INFORMATIONS.CIRCUIT.TITLE' | translate"></h1>

				<div class="row circuit">
					<div class="col-xs-12 col-md-4">
						<div class="background-color-white padding-md padding-top-sm padding-bottom-sm">
							<table class="table">
								<tr>
									<th>{{ 'INFORMATIONS.CIRCUIT.LENGTH' | translate }}</th>
									<td>3565 m</td>
								</tr>
								<tr>
									<th>{{ 'INFORMATIONS.CIRCUIT.WIDTH' | translate }}</th>
									<td>
										10 {{ 'G.TO' | translate }} 12m
									</td>
								</tr>
								<tr>
									<th>{{ 'INFORMATIONS.CIRCUIT.TURNS' | translate }}</th>
									<td>
										10 {{ 'INFORMATIONS.CIRCUIT.LEFT-TURN' | translate }}<br />
										5 {{ 'INFORMATIONS.CIRCUIT.RIGHT-TURN' | translate }}
									</td>
								</tr>
							</table>
						</div>
					</div>

					<div class="col-xs-12 col-md-8 text-center">
						<div class="background-color-white padding-md padding-top-sm padding-bottom-sm">
							<img src="./img/circuit.png" class="img-responsive display-inline-block" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row margin-top-lg">
			<div class="col-xs-12 page-content">
				<!-- content -->

				<h1 class="text-center no-margin-top margin-bottom-md" ng-bind-html="'INFORMATIONS.PLANNING.TITLE' | translate"></h1>

				<div class="row planning">
					<div class="col-xs-12">
						<div class="text-center background-color-white">
							{{ 'INFORMATIONS.PLANNING.TO.COME' | translate }}
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row margin-top-lg">
			<div class="col-xs-12 page-content">
				<!-- content -->

				<h1 class="text-center no-margin-top margin-bottom-md" ng-bind-html="'INFORMATIONS.ACCOMMODATION.TITLE' | translate"></h1>

				<div class="row accomodation">
					<div class="col-xs-12">
						<div class="background-color-white padding-md padding-top-sm padding-bottom-sm">
							<table class="table">
								<tr>
									<td><i class="fa fa-compass font-size-x3 color-primary-color"></i></td>
									<td>
										<b>{{ 'INFORMATIONS.ACCOMMODATION.CAMPING.TITLE' | translate }}</b>
										<div class="color-secondary-text">
											{{ 'INFORMATIONS.ACCOMMODATION.CAMPING.TEXT' | translate }}
										</div>
									</td>
								</tr>

								<tr>
									<td><i class="fa fa-bed font-size-x3 color-primary-color"></i></td>
									<td>
										<b>{{ 'INFORMATIONS.ACCOMMODATION.DORMITORY.FORMULA.TITLE' | translate }}</b>
										<div class="color-secondary-text">
											{{ 'INFORMATIONS.ACCOMMODATION.DORMITORY.FORMULA.TEXT' | translate }}
										</div>
									</td>
								</tr>

								<tr>
									<td><i class="fa fa-glass font-size-x3 color-primary-color"></i></td>
									<td>
										<b>{{ 'INFORMATIONS.ACCOMMODATION.FORMULA.HOTEL.TITLE' | translate }}</b>
										<div class="color-secondary-text">
											{{ 'INFORMATIONS.ACCOMMODATION.FORMULA.HOTEL.TEXT' | translate }}
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="row margin-top-lg">
			<div class="col-xs-12 page-content">
				<!-- content -->

				<h1 class="text-center no-margin-top margin-bottom-md" ng-bind-html="'INFORMATIONS.MAP.TITLE' | translate"></h1>

				<div class="row map">
					<div class="col-xs-12">
						<div class="background-color-white padding-md padding-top-sm padding-bottom-sm">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2874.112548646829!2d2.115308115506278!3d43.91564387911318!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ac281dbcfd4eb7%3A0xf4bb18c2c6aad49b!2sCircuit+d&#39;Albi!5e0!3m2!1sfr!2sfr!4v1453111775955" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
